.button {
    height: 32px;
    outline: none;
    border: none;
    border-radius: 2px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;

    svg {
        margin-right: 10px;
    }

    &:active {
        -webkit-box-shadow: inset -2px -2px 22px -12px $grey;
        -moz-box-shadow: inset -2px -2px 22px -12px $grey;
        box-shadow: inset -2px -2px 22px -12px $grey;
    }

    &.default {
        background-color: $lightGrey;
        border: 1px solid $grey;

        &:hover,
        &:focus,
        &:active {
            background-color: $mediumGrey;
        }
    }

    &.primary {
        background-color: $primary;
        color: white;

        &:hover,
        &:focus,
        &:active {
            background-color: $darkPrimary;
        }
    }

    &.success {
        background-color: $success;
        color: white;

        &:hover,
        &:focus,
        &:active {
            background-color: $darkSuccess;
        }
    }

    &.danger {
        background-color: $danger;
        color: white;

        &:hover,
        &:focus,
        &:active {
            background-color: $darkDanger;
        }
    }

    &.facebook {
        background-color: $facebook;
        color: white;
        width: 45%;

        &:hover,
        &:focus,
        &:active {
            background-color: $darkPrimary;
        }
    }

    &.google {
        background-color: $google;
        color: white;
        width: 45%;

        &:hover,
        &:focus,
        &:active {
            background-color: $darkDanger;
        }
    }

    &.block {
        width: 100%;
    }
}
