<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="<%= htmlWebpackPlugin.options.baseUrl %>">
        <link href="blog.css" rel="stylesheet" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <title>Image Gallery</title>
    </head>
    <body>
        <nav class="top-navbar">
            <a class="logo">Image Gallery</a>
            <a href="/" class="nav-link active">Home</a>
            <a href="/" class="nav-link">Trending</a>
            <a href="/" class="nav-link">Pets</a>
            <a href="/" class="nav-link">Memes</a>
            <a href="/" class="nav-link">Tech</a>
        </nav>
        <section class="blog-content">
            <aside class="posts">
                <div class="post">
                    <header>
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </header>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod laoreet urna, eu
                        placerat lacus malesuada a. Nunc ac urna quis arcu rutrum aliquam. Phasellus eleifend orci ut
                        nulla consectetur, vel tempor erat pulvinar. Sed vel cursus felis. Nam facilisis erat quis odio
                        molestie, ac egestas dui finibus.
                    </p>
                    <a href="/">Read more...</a>
                </div>
                <div class="post">
                    <header>
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </header>
                    <p>
                        Phasellus sem lectus, dapibus in sodales nec, aliquet eget dui. In porttitor velit sed lectus
                        pellentesque ullamcorper. Duis imperdiet faucibus finibus. Quisque pharetra, massa in porta
                        lacinia, ante odio ornare nibh, eget sagittis nulla velit at dui. Pellentesque pretium ipsum in
                        egestas scelerisque.
                    </p>
                    <a href="/">Read more...</a>
                </div>
                <div class="post">
                    <header>
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </header>
                    <p>
                        Nullam ornare maximus eleifend. Morbi pulvinar, magna ac interdum congue, lorem magna
                        ullamcorper ante, nec tempus purus odio ut ex. Curabitur non ornare tortor. Duis auctor aliquet
                        justo id tempor. Nullam commodo interdum purus sit amet convallis. Morbi vitae odio fermentum,
                        malesuada magna in, eleifend ligula. Nam tincidunt vitae diam non hendrerit. Vestibulum in
                        lacinia ipsum. Donec quis maximus dui, mattis aliquam nunc.
                    </p>
                    <a href="/">Read more...</a>
                </div>
                <div class="post">
                    <header>
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </header>
                    <p>
                        Aliquam velit enim, aliquet vel tellus in, dignissim ornare ipsum. Nullam sodales augue ut diam
                        commodo ultricies. Nulla ultricies fringilla dolor in pharetra. Donec venenatis quis sem non
                        varius. Phasellus urna dolor, pulvinar quis feugiat eget, viverra ac metus. Curabitur eget
                        hendrerit neque, at condimentum ante. Fusce vel libero ante. Nam varius, velit nec rutrum
                        iaculis, sapien orci lacinia nibh, nec rutrum risus est quis lectus.
                    </p>
                    <a href="/">Read more...</a>
                </div>
            </aside>

            <!-- React Gallery Content-->
            <div id="gallery-content"></div>
            <!-- React Gallery Content-->
        </section>
        <footer>
            <nav class="footer-navbar">
                <a href="/" class="nav-link">Home</a>
                <a href="/" class="nav-link">Trending</a>
                <a href="/" class="nav-link">Pets</a>
                <a href="/" class="nav-link">Memes</a>
                <a href="/" class="nav-link">Tech</a>
            </nav>
            Made with <img class="heart-icon" src="https://www.vectorico.com/download/emoticon/heart-icon.png" /> by
            <a href="https://github.com/alanaugustodias" target="blank">@alanaugustodias</a>
        </footer>
    </body>
</html>
